<!DOCTYPE html>
<html lang="nl">
<head>
    <!-- vereiste meta tags -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/static/img/logo.ico" rel="icon" type="image/x-icon">

    <!-- the CSS of the html page being loaded -->
    {% block css %}
    <link href="/static/css/style.css" rel="stylesheet">
    {% endblock %}

    {% block bootstrap %}

    {% endblock %}

    <!-- bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">

    <!-- hier onder komt de titel van de html-pagina -->
    <title>
        {% block title %}
        Title
        {% endblock %}
    </title>
</head>
<body>
<!-- pagina inhoud -->

{% block content %}
<!-- hier komt de inhoud van de andere html-pagina's -->
{% endblock %}

<!-- bootstrap CSS -->
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>
</html>