{% extends "base.html" %}

<!-- hier onder komt de titel -->
{% block title %}
Reset Wachtwoord - Zee en Duin
{% endblock %}

<!-- css style sheet -->
{% block css %}
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/auth.css" rel="stylesheet">
{% endblock %}

<!-- hier onder komt de inhoud van dit html bestand -->
{% block content %}

<!-- de navbar voor de pagina-->
{% include 'attributes/navbar.html' %}

<!-- de pagina inhoud -->
<div id="main">
    <form id="register_data" method="POST">
        <div class="container">
            <h1>Wachtwoord reset</h1>
            {{ form.hidden_tag() }}
            {% if form.password.errors %}
                {{ form.password.label }} {{ form.password() }}<br>
                <div class="inv-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <i aria-hidden="true" class="fa fa-user"></i>
                {{ form.password.label }} {{ form.password() }}<br>
            {% endif %}
            {% if form.rep_password.errors %}
                {{ form.rep_password.label }} {{ form.rep_password() }}<br>
                <div class="inv-feedback">
                    {% for error in form.rep_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                <i class="fa fa-user" aria-hidden="true"></i>
                {{ form.rep_password.label }} {{ form.rep_password() }}<br>
            {% endif %}<br>
            {{ form.submit() }}<br>
            <span class="psw">Weet je jouw wachtwoord weer?
                <a href="/login">Log dan hier in</a>.<br>
            </span>
        </div>
    </form>
</div>


<!-- de footer voor de pagina-->
{% include 'attributes/footer.html' %}

{% endblock %}
